[user]
	name = Odin-Niflheim 
	email = odin@apprenaissance.com 
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	co  = checkout
	cb  = checkout -b
	db  = branch -d
	rclone = clone --recursive
